@model List<DrumWebshop.Models.Hardware>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Hardware Offer";
}

<div class="container">
    <h2>Our Hardware Offer</h2>
    <form id="sortForm" asp-controller="Home" asp-action="Hardware" method="get" class="d-flex">
        <label for="sortOrder" class="mr-2 mt-2" style="margin-right: 5px">Sort By:</label>
        <select class="form-control form-control-sm mr-2" id="sortOrder" name="sortOrder" style="width: 250px; height: 40px; margin-right: 5px;">
            <option value="-">-</option>
            <option value="Price - High first">Price - High first</option>
            <option value="Price - Low first">Price - Low first</option>
            <option value="Name - Alphabetical">Name - Alphabetical</option>
            <option value="Name - Reverse Alphabetical">Name - Reverse Alphabetical</option>
        </select>
        <button type="submit" class="btn btn-primary align-self-center" style="min-width: 80px; height: 40px;">Apply</button>
    </form>

    <div class="my-3"></div>

    <div class="row">
        @foreach (var hardware in Model)
        {
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="card">
                    <img src="@Url.Content(hardware.Image)" class="card-img-top" alt="Hardware Image">
                    <div class="card-body">
                        <h4 class="card-title">@hardware.Name</h4>
                        <h5 class="card-text">€@hardware.Price</h5>
                        <ul class="list-group list-group-flush">
                            @foreach (var comp in hardware.HwComponents)
                            {
                                @if (comp.Count > 1)
                                {
                                    <li class="list-group-item">@(comp.Count)x @(comp.Name)s (@comp.ProductCode)</li>
                                }
                                else
                                {
                                    <li class="list-group-item">@(comp.Count)x @(comp.Name) (@comp.ProductCode)</li>
                                }
                            }
                        </ul>
                        <div class="d-flex justify-content-end">
                            @if (SignInManager.IsSignedIn(User) && !UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "PendingMember").Result)
                            {
                                <form method="post" action="@Url.Action("AddToCart", "Home", new { returnUrl = Context.Request.Path })">
                                    <input type="hidden" name="productId" value="@hardware.Id" />
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
