@model List<DrumWebshop.Models.Snare>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Snares";
}

<div class="container">
    <h2>Our Snare Offer</h2>
    <form id="sortForm" asp-controller="Home" asp-action="Snares" method="get" class="d-flex">
        <label for="sortOrder" class="mr-2 mt-2" style="margin-right: 5px">Sort By:</label>
        <select class="form-control form-control-sm mr-2" id="sortOrder" name="sortOrder" style="width: 250px; height: 40px; margin-right: 5px;">
            <option value="-">-</option>
            <option value="Diameter - High first">Diameter - High first</option>
            <option value="Diameter - Low first">Diameter - Low first</option>
            <option value="Depth - High first">Depth - High first</option>
            <option value="Depth - Low first">Depth - Low first</option>
            <option value="Material - Alphabetical">Material - Alphabetical</option>
            <option value="Material - Reverse Alphabetical">Material - Reverse Alphabetical</option>
            <option value="Price - High first">Price - High first</option>
            <option value="Price - Low first">Price - Low first</option>
            <option value="Name - Alphabetical">Name - Alphabetical</option>
            <option value="Name - Reverse Alphabetical">Name - Reverse Alphabetical</option>
        </select>
        <button type="submit" class="btn btn-primary align-self-center" style="min-width: 80px; height: 40px;">Apply</button>
    </form>

    <div class="my-3"></div>

    <div class="row">
        @foreach (var snare in Model)
        {
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="card">
                    <img src="@Url.Content(snare.Image)" class="card-img-top" alt="Snare Image">
                    <div class="card-body">
                        <h4 class="card-title">@snare.Name</h4>
                        <h5 class="card-text">€@snare.Price</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Size: @snare.Diameter" x @snare.Depth"</li>
                            <li class="list-group-item">@snare.LugCount lugs</li>
                            @if (snare.PlyCount != 0)
                            {
                                <li class="list-group-item">@snare.PlyCount-ply @snare.Material shell</li>
                            }
                            else
                            {
                                <li class="list-group-item">@snare.Material shell</li>
                            }
                            @if (!string.IsNullOrEmpty(snare.Finish))
                            {
                                <li class="list-group-item">@snare.Finish finish</li>
                            }
                        </ul>
                        <div class="d-flex justify-content-end">
                            @if (SignInManager.IsSignedIn(User) && !UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "PendingMember").Result)
                            {
                                <form method="post" action="@Url.Action("AddToCart", "Home", new { returnUrl = Context.Request.Path })">
                                    <input type="hidden" name="productId" value="@snare.Id" />
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
