@model List<DrumWebshop.Models.CartItem>
@{
    ViewData["Title"] = "Checked Out Items";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="container mt-5 mb-5">
        <h1>@ViewData["Title"]</h1>
        <table class="table table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Type</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle text-center">
                            <div class="d-flex align-items-center">
                                <img src="@Url.Content(item.Product.Image)" alt="@item.Product.Name" class="img-thumbnail mr-2" style="max-width: 50px; max-height: 50px;" />
                                <span style="font-size: 18px;">@item.Product.Name</span>
                            </div>
                        </td>
                        <td class="align-middle" style="font-size: 18px;">€@item.Product.Price</td>
                        <td class="align-middle" style="font-size: 18px;">
                            @if (item.Product.GetType() == typeof(DrumWebshop.Models.Cymbal))
                            {
                                var cymbal = (DrumWebshop.Models.Cymbal)item.Product;
                                switch (cymbal.Type)
                                {
                                    case DrumWebshop.Models.CymbalType.Hihat:
                                        @("Hihat")
                                        break;
                                    case DrumWebshop.Models.CymbalType.Crash:
                                        @("Crash")
                                        break;
                                    case DrumWebshop.Models.CymbalType.Ride:
                                        @("Ride")
                                        break;
                                    default:
                                        @("Other")
                                        break;
                                }
                            }
                            else
                            {
                                @item.Product.GetType().Name
                            }
                        </td>
                        <td class="align-middle" style="font-size: 18px;">@item.Quantity</td>
                        <td class="align-middle" style="font-size: 18px;">€@(item.Product.Price * item.Quantity)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="align-middle" style="font-size: 18px;"><strong>Total:</strong></td>
                    <td class="align-middle" style="font-size: 18px;"><strong>@Model.Sum(item => item.Quantity)</strong></td>
                    <td class="align-middle" style="font-size: 18px;"><strong>€@Model.Sum(item => item.Product.Price * item.Quantity)</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>
